:root {
  --background: #14122b;
  --foreground: #eceae5;
  --accent: #ff7086;
}

.post .post-cover img, 
.post-cover img, 
img.post-cover, 
.post-cover-image {
    max-height: 380px !important;
    width: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
}